* {
  font-family: Verdana, Tahoma, sans-serif;
}
body {
  background-color: rgb(121, 163, 61);
}

a {
  all: unset;
  cursor: pointer;
}

h1,
.recipe,
h2 {
  text-align: center;
  height: 100px;
  line-height: 100px;
}

h1 {
  font-size: 48px;
  height: 100px;
}

h2 {
  font-size: 36px;
}

p {
  text-align: justify;
  line-height: 1.5em;
  margin: 10px 50px;
}

li {
  font-size: 24px;
  line-height: 2em;
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
  margin-left: 1em;
}
.recipe {
  width: 50%;
  background-color: rgb(241, 172, 24);
  font-size: 36px;
  border: 2px dashed #e69151;
  margin: 10px auto;
}

p {
  font-size: 24px;
}

.recipe-container {
  margin: 0 auto;
  width: 50%;
}

.title-container {
  margin: 20px auto;
  width: 75%;
  background-color: rgb(242, 91, 10);
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
